# Coleta de Dados no MySQL utilizando o R

#### Para mais detalhes sobre a biblioteca RMariaDB consulte:
* https://cran.r-project.org/web/packages/RMariaDB/RMariaDB.pdf

##### Instalar o pacote RMariaDB

In [3]:
# Instalar o pacote RMariaD se for a primeira vez que for utlizar.

install.packages("RMariaDB")

Installing package into ‘/home/rafael/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)

##### Importar o pacote RMariaDB

In [1]:
#importação do pacote deve ser SEMPRE realizada

#Importa pacote RMariaDB se ele ainda não foi carregado
if(!"RMariaDB" %in% (.packages())){require(RMariaDB)}

Loading required package: RMariaDB

**Observação 1:** A mensagem abaixo não indica um erro, é um alerta indicando a versão do R no qual o pacote RMariaDB foi construindo.

*Loading required package: RMariaDB
Warning message:
"package 'RMariaDB' was built under R version 3.6.3"*

**Observação 2:** A mensagem abaixo indica um erro, alertando que não existe o pacote RMariaDB instalado. Para corrigir, instale o pacote.

*Loading required package: RMariaDB
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'RMariaDB'"*

In [2]:
#Conecta ao SGBD MySQL --> Banco de dados bootcamp
con <- dbConnect(MariaDB(), user = "root", password = "mjovh",
                 dbname = "bootcamp", host = "localhost",serverTimezone='UTC')

**OBS:** Caso ocorra o erro abaixo: 
*Error: Failed to connect: Plugin caching_sha2_password could not be loaded: The specified module could not be found.*

Acesse seu SGBD MySQL Server utilizando o MySQL Workbench e execute o comando abaixo no seu esquema de BD

    ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'igti';

Agora execute o comando de conexão novamente.

In [3]:
#Para listar quais tabela existem no esquema .bootcamp. execute:

#Lê a lista de tabelas no BD
tables <- dbListTables(con) 
tables

[1] "caracteristicageralimovel" "caracteristicasgerais"
[3] "cidade"                    "estado"
[5] "imovel"                    "tipounidade"

In [4]:
#Para consultar quais os dados de uma tabela execute:
# dbReadTable(nome-da-conexao,"nome-da-tabela")

#Consulta os dados da tabela *estado*

tabledata <- dbReadTable(con,"estado")
tabledata

# query <- 'SELECT * FROM estado'
# resultado <- dbGetQuery(con,query)
# resultado

# query <- 'SELECT CodEstadoIBGE, NomeEstado, SiglaEstado, Regiao FROM estado'
# resultado <- dbGetQuery(con,query)
# resultado

     CodEstadoIBGE NomeEstado SiglaEstado Regiao

**OBS:** Veja que o resultado do comando acima demonstra que a tabela 'estado' não possue dados.

In [5]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"caracteristicasgerais")
# tabledata <- dbReadTable(con,"tipounidade")
tabledata

   idcaracteristicasGerais dsccaracteristicasGerais
1   1                      Portaria 24 horas
2   2                      Elevador
3   3                      Piscina
4   4                      Salão de festas
5   5                      Água gourmet
6   6                      Água individual
7   7                      Gás canalizado
8   8                      Aquecimento solar
9   9                      Vaga coberta
10 10                      Vaga livre
11 11                      Armários na cozinha
12 12                      Closet
13 13                      Armários no quarto

**OBS:** Veja que o resultado do comando acima demonstra que a tabela 'tipounidade' possue alguns dados.

In [19]:
#Para executar um comando SQL execute:
#dbSendQuery(nome-da-conexao,"comando")

# Vamos inserir uma nova linha na tabela tipounidade
# Cria o comando e salva na variável query
query <-  "INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(7,'Loft');"

results <- dbSendQuery(con,query)
print(results)

# Limpa resultados
dbClearResult(results)

<MariaDBResult>
  SQL  INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(7,'Loft');
  ROWS Fetched: 0 [complete]
       Changed: 1

**OBS 1:** Caso ocorra o erro: *Error: Duplicate entry '6' for key 'tipounidade.PRIMARY' [1062]*

Isso significa que você violou a chave primária, ou seja, tentou inserir uma chave que já existe. Confira o valor da chave que esta inserindo, altere, e execute novamente.

**OBS 2:** Caso ocorra o erro: *Error: Column count doesn't match value count at row 1 [1136]*
Isso significa que você esta inserindo dados não compatíveis com a definição da tabela.

In [32]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             Loft
8 8             Chácara

In [22]:
id <- 8
desc <- 'Chácara'

query <-  paste("INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(",id,",'",desc,"');",sep='')

results <- dbSendQuery(con,query)
print(results)

# Limpa resultados
dbClearResult(results)

<MariaDBResult>
  SQL  INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(8,'Chácara');
  ROWS Fetched: 0 [complete]
       Changed: 1

In [54]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata <- dbReadTable(con,"caracteristicasgerais")
tabledata

  idcaracteristicasGerais dsccaracteristicasGerais
1 5                       Água gourmet
2 6                       Água individual
3 7                       Gás canalizado

##### Instalar o pacote xlsx

In [73]:
install.packages('xlsx')

Installing package into ‘/home/rafael/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)

##### Importar o pacote xlsx

In [6]:
#Importa pacote xlsx se ele ainda não foi carregado
if(!"xlsx" %in% (.packages())){require(xlsx)}

#Antes de excutar esta célula, garanta que o caminho do arquivo estados.xlsx esteja correto.

filename <- "/home/rafael/Documents/Bootcamp/Trabalho 2/arquivoscomplementaresTrabalhoPratico/estados.xlsx"

insertdata <- read.xlsx(filename, sheetIndex=1, header=TRUE,encoding="UTF-8")
print("Lista de estados existentes no arquivo:")
insertdata

Loading required package: xlsx

[1] "/home/rafael/Documents/Bootcamp/Trabalho 2/arquivoscomplementaresTrabalhoPratico/estados.xlsx"
[1] "Lista de estados existentes no arquivo:"

   CodEstadoIBGE nomeestado          siglaestado regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

**OBS:** As colunas da tabela estado são: *CodEstadoIBGE,NomeEstado,SiglaEstado,Regiao*

In [7]:
dbWriteTable(con,'estado',insertdata,append = TRUE)

In [8]:
#Consulta os dados da tabela *estado*
results <- dbReadTable(con,"estado")
results

   CodEstadoIBGE NomeEstado          SiglaEstado Regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

In [9]:
query <- "SELECT * FROM estado;"

results <- dbSendQuery(con,query)
results

<MariaDBResult>
  SQL  SELECT * FROM estado;
  ROWS Fetched: 0 [incomplete]
       Changed: 0

**Obs:** O retorno do comando *dbSendQuery* indica que se o comando SQL passado para a variável *query* foi executado com sucesso ou não.

In [10]:
# Limpa resultados
dbClearResult(results)

#retorna uma dataframe
results <- dbGetQuery(con,query)
results

   CodEstadoIBGE NomeEstado          SiglaEstado Regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

In [11]:
# Verifique se o caminho do arquivo existe.

#Salvar o resultado da query no arquivo CSV
write.csv(results,"/home/rafael/Documents/Bootcamp/Trabalho 2/arquivoscomplementaresTrabalhoPratico/estadosDB.csv",row.names=FALSE,quote=FALSE)

#Realizar o commit
#dbCommit(con)

In [12]:
# Desconectar do banco de dados
dbDisconnect(con)

## A partir daqui você deve alterar seu notebook conforme orientações da atividade 8 do enunciado do trabalho prático.

Nas células abaixo foram deixadas algumas dicas para você seguir.

##### 1º) Importar as bibliotecas RMariaDB

In [ ]:
#Se você já importou anteriormente e não resetou seu kernel, não será necessário importar

##### 2º) Fazer a conexão com seu banco de dados

##### 3º) Abrir o arquivo 'caracteristicasgerais.csv'

In [ ]:
#----Teste de inserção 1
# query <- "INSERT INTO caracteristicasgerais(idcaracteristicasGerais,dsccaracteristicasGerais) VALUES(4,'Salão de festas');"
# dbWriteTable(con, value=query, row.names=FALSE, name="caracteristicasgerais", append=TRUE)

#---Teste de inserção 2
# id1 <- 5
# desc1 <- 'Água gourmet'
# id2 <- 6
# desc2 <- 'Água individual'
# id3 <- 7
# desc3 <- 'Gás canalizado'

# query <-  paste("INSERT INTO caracteristicasgerais(idcaracteristicasGerais,dsccaracteristicasGerais) 
#             VALUES(",id1,",'",desc1,"'),(",id2,",'",desc2,"'),(",id3,",'",desc3,"');",sep='')
# results <- dbSendQuery(con,query)

filename <- "/home/rafael/Documents/Bootcamp/Trabalho 2/arquivoscomplementaresTrabalhoPratico/caracteristicas.csv"
insertdata <- read.csv(file=filename, header=TRUE, sep=",", encoding="UTF-8")
insertdata

##### 4º) Inserir dados na tabela 'caracteristicasgerais'

In [64]:
dbWriteTable(con,value=insertdata, row.names=FALSE,
            name='caracteristicasgerais', append=TRUE)

   idcaracteristicasGerais dsccaracteristicasGerais
1   1                      Portaria 24 horas
2   2                      Elevador
3   3                      Piscina
4   4                      Salão de festas
5   8                      Aquecimento solar
6   9                      Vaga coberta
7  10                      Vaga livre
8  11                      Armários na cozinha
9  12                      Closet
10 13                      Armários no quarto

##### 5º) Consultar a tabela 'caracteristicasgerais' para verificar se os dados foram inseridos corretamente.

In [65]:
tabledata <- dbReadTable(con,"caracteristicasgerais")
tabledata

   idcaracteristicasGerais dsccaracteristicasGerais
1   1                      Portaria 24 horas
2   2                      Elevador
3   3                      Piscina
4   4                      Salão de festas
5   5                      Água gourmet
6   6                      Água individual
7   7                      Gás canalizado
8   8                      Aquecimento solar
9   9                      Vaga coberta
10 10                      Vaga livre
11 11                      Armários na cozinha
12 12                      Closet
13 13                      Armários no quarto

##### Fim!