# Working with MySQL on colab

## Install and setup MySQL on Colab

In [ ]:
#Here's how I install and setup MySQL on Colab
# install, set connection
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'igti'"

 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.

## Install and import pymsql package

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.6/dist-packages (0.9.3)

In [ ]:
import pymysql

## Working on MySQL Server Colab

In [ ]:
mydb = pymysql.connect(
    host='localhost',
    port=3306,
    user="root",
    passwd='igti')

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

### Create database

In [ ]:
mycursor.execute("CREATE DATABASE mydatabase")

1

In [ ]:
mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [ ]:
#connect to your database

mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='igti',
    database='mydatabase'
)

print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection.MySQLConnection object at 0x7f3c55d0e978>

In [ ]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

### Create tables

In [ ]:
#Criar uma tabela

mycursor.execute ("CREATE TABLE IF NOT EXISTS departamento (\
  `cod_depto` INT(11) NOT NULL AUTO_INCREMENT,\
  `nome_depto` VARCHAR(100) NOT NULL,\
  PRIMARY KEY (`cod_depto`))")

In [ ]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('departamento',)

In [ ]:
#Criar uma tabela

mycursor.execute ("CREATE TABLE IF NOT EXISTS `funcionario` (\
  `id_func` INT(11) NOT NULL AUTO_INCREMENT,\
  `nome_func` VARCHAR(255) NOT NULL,\
  `nascimento` DATE NOT NULL,\
  `salario` DECIMAL(10,2) NULL,\
  `depto` INT(11) NULL,\
  PRIMARY KEY (`id_func`),\
  CONSTRAINT `fk_funcionario_departamento`\
    FOREIGN KEY (`depto`)\
    REFERENCES departamento (`cod_depto`))")

In [ ]:
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('departamento',)
('funcionario',)

### Insert data on table from a read TXT file


This file should be uploaded before

In [ ]:
try:
  fileobject=open('/content/departamento.txt', "r", encoding='utf-8')
  filelines =fileobject.readlines()

  #Loop -> Para cada linha (line) da lista de linhas filelines
  for line in filelines:
    #print(line) #imprime o valor da linha, end='' exclui quebra de linha
    query = line
    mycursor.execute(query)
  #Fecha o objeto de leitura do arquivo        
  fileobject.close()
  mydb.commit()

except FileNotFoundError:
  print('\nERRO AO TENTAR LER O ARQUIVO !! \nO arquivo '+filename+' não existe!')

INSERT INTO departamento (cod_depto,nome_depto) VALUES(1,'Recursos humanos');

INSERT INTO departamento (cod_depto,nome_depto) VALUES(2,'Informática');

INSERT INTO departamento (cod_depto,nome_depto) VALUES(3,'Marketing'),(4,'Infra'),(5,'Jurídico');

INSERT INTO departamento (cod_depto,nome_depto) VALUES(6,'Compras');

INSERT INTO departamento (cod_depto,nome_depto) VALUES(7,'Estoque');

INSERT INTO departamento (cod_depto,nome_depto) VALUES(8,'Financeiro');

### Query table

In [ ]:
mycursor.execute("SELECT * FROM departamento")

myresult = mycursor.fetchall()

for mydata in myresult:
    print(mydata)

(1, 'Recursos humanos')
(2, 'Informática')
(3, 'Marketing')
(4, 'Infra')
(5, 'Jurídico')
(6, 'Compras')
(7, 'Estoque')
(8, 'Financeiro')

### Update table

In [ ]:
query = "UPDATE `departamento` SET `nome_depto` = 'Infraestrutura' WHERE `nome_depto` = 'Infra';"
mycursor.execute(query)
mydb.commit()

In [ ]:
mycursor.execute("SELECT * FROM departamento where nome_depto Like 'Infra%'")

myresult = mycursor.fetchone()

print(myresult)

(4, 'Infraestrutura')